::before, *::after {
    box-sizing: border-box;
}
:root {
    --hue-neutral: 200;
    --hue-select: 145;
}
body {
    --hue:var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 50vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 34, 33);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.conjuntobtn {
    display: flex;
    border: solid 1px aliceblue;
    align-items: center;
    margin-top: 20px;
}

.btn {

      background: #5E5DF0;
      border-radius: 999px;
      box-shadow: #5E5DF0 0 10px 20px -10px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      opacity: 1;
      outline: 0 solid transparent;
      padding: 8px 18px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: fit-content;
      word-break: break-word;
      border: 0;
    }


.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    align-items: center;
}